<div id="main">
        
    <div id="header" class="js-header">

        <div class="grid wide">
            <div class="header--title">
                <img src="img/logo/SpaceSpeakerslogo.png" alt="">
                <h1>SpaceSpeaker</h1>
            </div>
            <div>
                <ul id="nav">
                    <li><a href="#">Home</a></li>
                    <span class="seperate"></span>
                    <li><a href="#band">Band</a></li>
                    <span class="seperate"></span>
                    <li><a href="#tour">Tour</a></li>
                    <span class="seperate"></span>
                    <li><a href="#contact">Contact</a></li>
                    <span class="seperate"></span>
                    <li>
                        <a href="#" >
                            More
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="">Merchandise</a></li>
                            <li><a href="">Extras</a></li>
                            <li><a href="">Media</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <div class="menu-btn js-menu">
                    <i class="ti-menu menu-icon"></i>
                </div>
                <div class="search-btn">
                    <i class="ti-search search-icon"></i>
                </div>
            </div>
        </div>
                
                
    </div>
    <div id="slider-container">
        <div class="slider" class="fade">
            <div id="slider1">
                <div class="text-content">
                    <h2 class="text-heading">New York</h2>
                    <p class="text-dicorection">SpaceSpeaker</p>
                </div>
            </div>

        </div>
        <div class="slider" class="fade">
            <div id="slider2">
                <div class="text-content">
                    <h2 class="text-heading">Paris</h2>
                    <p class="text-dicorection">freaky squad</p>
                </div>
            </div>

        </div>
        <div class="slider" class="fade">
            <div id="slider3">
                <div class="text-content">
                    <h2 class="text-heading">San Francisco</h2>
                    <p class="text-dicorection">SpaceSpeaker</p>
                    
                </div>
            </div>

        </div>



        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>


    <div id="content">
        <div id="band" class="content-section">
                <h1 class="text-band-heading" id="band">SpaceSpeakers</h1>
                <img class="logo-img" src="logo/SpaceSpeakerslogo.png" />
                <p class="text-band-des">we love music</p>
                <p class="about-text">
                    We have created a 95% confidence interval for μ with the result (10, 15). a) What decision will we make if we test H0 : μ = 16 versus H1 : μ ≠ 16 at α = 0.01? Justify your answer. A) Reject H0 in favor of H1. B) Accept H0 in favor of H1. C) Fail to reject H0 in favor of H1. D) We cannot tell what our decision will be from the information given.
                </p>
                <div class="row members-list">
                    <div class="col col-third mt-16 text-center">
                        <p class="member-name">Rhymastic</p>
                        <img src="img/User/rhym.jpg" alt="Name" class="member-img">
                    </div>
                    <div class="col col-third mt-16 text-center">
                        <p class="member-name">Binz</p>
                        <img src="img/User/binz.jpg" alt="Name" class="member-img">
                    </div>
                    <div class="col col-third mt-16 text-center">
                        <p class="member-name">Justatee</p>
                        <img src="img/User/jaytee.jpg" alt="Name" class="member-img">
                    </div>
                </div>
                
        </div>
        <div id="tour" class="tour-section">
            <div class="content-section">
                <h1 class="text-band-heading text-white">Tour Dates</h1>
                <p class="text-band-des text-white">remember to book your tickets</p>
                <ul class="ticket-list">
                    <li>September <span class="sold-out">Sold-out</span></li>
                    <li>Octorber <span class="sold-out">Sold-out</span></li>
                    <li>November <span class="quantity">3</span></li>
                </ul>
                <div class="row mt-16 places-list">
                    <div class="col col-third s-col-full mt-16">
                        <img src="./img/place/place1.jpg" alt="new york" class="place-img">
                        <div class="place-body">
                            <h3 class="place-heading">New York</h3>
                            <p class="place-time">Fri 27 Nov 2016</p>
                            <p class="place-des">sadfdsafsdfdsafsdafasdfasdf</p>
                            <button href="#" class="btn js-buy-ticket">Buy Tickets</button>
                        </div>
                    </div>
                    <div class="col col-third s-col-full mt-16">
                        <img src="./img/place/place2.jpg" alt="new york" class="place-img">
                        <div class="place-body">
                            <h3 class="place-heading">Paris</h3>
                            <p class="place-time">Fri 27 Nov 2016</p>
                            <p class="place-des">sadfdsafsdfdsafsdafasdfasdf</p>
                            <button href="#" class="btn js-buy-ticket">Buy Tickets</button>
                        </div>
                    </div><div class="col col-third s-col-full mt-16">
                        <img src="./img/place/place3.jpg" alt="new york" class="place-img">
                        <div class="place-body">
                            <h3 class="place-heading">San Francisco</h3>
                            <p class="place-time">Fri 27 Nov 2016</p>
                            <p class="place-des">sadfdsafsdfdsafsdafasdfasdf</p>
                            <button href="#" class="btn js-buy-ticket">Buy Tickets</button>
                        </div>
                    </div>
                    
                </div>
        </div>
        </div>
        
        <div id="contact" class="content-section">
            
                <h1 class="text-band-heading ">Contact</h1>
                <p class="text-band-des">call me baby</p>
                <div class="row contact-content">
                    <div class="col col-second s-col-full contact-info">
                        <p><i class="ti-location-pin"></i> Chicago,US</p>
                        <p><i class="ti-mobile"></i> Phone:0902020567</p>
                        <p><i class="ti-email"></i> Email:mail@mail.com</p>
                    </div>
                    <div class="col col-second s-col-full contact-form">
                        <form action="">
                            <div class="mt-16 row ">
                                <div class="col col-second s-mt-8 s-full-width">
                                    <input type="text" placeholder="name" required class="form-control" >
                                 </div>
                                <div class="col col-second s-mt-8 s-full-width">
                                    <input type="email" placeholder="email" required class="form-control" >
                                </div>
                            </div>
                            <div class="mt-16 row ">
                                <div class="col col-full">
                                    <input type="text" placeholder="message" required class="form-control" >
                                </div>
                            </div>
                            <input class="mt-16 btn form-submit" type="submit" value="SEND">
                        </form>
                    </div>
                </div>                
                
                
        </div>

    </div>
        
    <div id="footer"class="text-center">
        <div class="social ">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>
                    <a href=""><i class="ti-"></i></a>
                    <a href=""><i class="ti-pinterest"></i></a>
                    <a href=""><i class="ti-twitter-alt"></i></a>
                    <a href=""><i class="ti-linkedin"></i></a>
                </div>
    </div>
    <div class="modal js-modal">
        <form method="post" action="/save">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-close-ticket">
                <i class="ti-close"></i>
            </div>
            <header class="modal-header">
                <i class="ti-bag"></i>
                Tickets
            </header>

            <div class="modal-body">
                <label for="ticket-quantity" class="modal-label">
                    <i class="ti-shopping-cart"></i>
                    Tickets, $15 per person
                </label>
                <input id="ticket-quantity" type="text" class="label-input" placeholder="How many?">
                <label for="email" class="modal-label">
                    <i class="ti-user"></i>
                    send to
                </label>
                <input id="email" type="text" class="label-input" placeholder="Enter email ...">
                <button id="buy-tickets">
                    Pay <i class="ti-check"></i>
                </button>
            </div>
            </div>
        </form>
            
            <footer class="modal-footer">
                <p class="modal-help">Need <a href="">help</a>?</p>
            </footer>

        </div>
    </div>
    </div>
    <script src="myScript.js"></script>