<div id="header" class="js-header">

        <div class="grid wide">
            <div class="header--title">
                <img src="logo/SpaceSpeakerslogo.png" alt="">
                <h1>SpaceSpeaker</h1>
            </div>
            <div>
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    <span class="seperate"></span>
                    <li><a href="#band">Band</a></li>
                    <span class="seperate"></span>
                    <li><a href="#tour">Tour</a></li>
                    <span class="seperate"></span>
                    <li><a href="#contact">Contact</a></li>
                    <span class="seperate"></span>
                    <li>
                        <a href="/login">
                            Login
                        </a>
                    </li>
                    
                </ul>
                <div class="menu-btn js-menu">
                    <i class="ti-menu menu-icon"></i>
                </div>
                <div class="search-btn">
                    <i class="ti-search search-icon"></i>
                </div>
            </div>
        </div>
                
                
    </div>